.App {
  text-align: center;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 768px) {
  .leaflet-container {
    height: 60vh; /* slightly smaller on mobile */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.leaflet-popup-content {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  }
.leaflet-container {
  height: 70vh;
  width: 100%;
  cursor: grab;
}
/* Leaflet legend styling */
.info.legend {
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-size: 14px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
